<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mi Wallet</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header class="main-header">
    <ul class="nav-links">
    <li><a href="/"><b>INICIO</b></a></li>
      <li><a href="/events"><b>EVENTOS</b></a></li>
      <li><a href="/wallet"><b>Mi Wallet</b></a></li>
      <li><a href="/presentation"><b>Crear presentación (VP)</b></a></li>
    </ul>
  </header>

  <main>
    <h1>Mis Credenciales Verificables</h1>
    <div id="walletContainer">
      <!-- Aquí se insertan las VCs desde JS -->
    </div>
  </main>

  <script src="/js/wallet.js"></script>
</body>
</html>
